@charset "UTF-8";
@import "../lib/hotcss-master/src/px2rem.scss";
$designWidth:640;
#tiaozhuananniubox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: px2rem(70);
    background: rgb(254, 44, 28);
    p{
        font-size: px2rem(32);
        line-height: px2rem(33);
        display: inline-block;
        font-weight: bold;
    }
    a{
        font-size: px2rem(30);
        line-height: px2rem(33);
        margin-right: px2rem(15);
        margin-left: px2rem(7);
        color: white;
    }
}
a{text-decoration:none;}
.all{
    background-color: #f5f5f5;
    text-align: center;
    .title{
        text-align: center;
        position: relative;
        z-index: 1;
        background-color: white;
        p{
            font-size: px2rem(38);
            height: px2rem(70);
            line-height: px2rem(70);
            font-weight: bold;
        }
        div{
            font-size: px2rem(35);
            position: absolute;
            top:50%;
            left: px2rem(60);
            transform: translate(-50%,-50%);
        }
    }
    .fuk{
        height: px2rem(170);
        background: -webkit-linear-gradient(left, rgb(254, 94, 25), rgb(254, 40, 28));
	    background: -o-linear-gradient(right, rgb(254, 94, 25), rgb(254, 40, 28));
	    background: -moz-linear-gradient(right, rgb(254, 94, 25), rgb(254, 40, 28));
        background: linear-gradient(to right, rgb(254, 94, 25), rgb(254, 40, 28));
        display: flex;
        justify-content: space-between;
        padding-left: 6%;
        padding-right: 6%;
        padding-top:2% ;
        .zz{
            .z1{
                font-size:px2rem(25);
            }
            .z2{
                font-size:px2rem(20);
            }
        }
        .xmiao{
            width:px2rem(115);
            height: px2rem(108);
        }    
    } 
    .shouhr{
        background-color: #ffffff;
        margin-bottom:px2rem(20) ;
        .zhuxm{
            display: flex;
            justify-content: space-between;
            flex-wrap:nowrap;
            padding-left: 12%;
            padding-right: 12%;
            padding-top: px2rem(20) ;
            font-size:px2rem(22) ;
        }
        .shdz{
            display: flex;
            margin-top: px2rem(30);
            padding-left: 4%;
            .dwei{
                width: px2rem(30);
                height: px2rem(30);
            }
            .diz{
                font-size:px2rem(18);
            }
        }
    }
    .zj{
        background-color: #ffffff;
        padding-top: px2rem(30);
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: px2rem(2) ;
        .liliao{
            display: flex;
            justify-content: space-between;
            .dsg{
                img{
                    width:px2rem(100) ;
                    height: px2rem(100);
                }
                .wsz{
                    display: inline-block;
        
                    .wz{
                        font-size:px2rem(24);
                        padding-top: 5%;
                    }
                    .sz{
                        font-size:px2rem(16);
                        color:#c8c7c7;
                        padding-bottom: px2rem(-30);
                    }
                }   
            }
            .sz2{
                font-size:px2rem(30);
            }
        }
        .yunf{
            display: flex;
            justify-content: space-between;
            margin-top:px2rem(-20) ;
            .wz3{
                font-size:px2rem(20);
            }
            .sz3{
                font-size:px2rem(20);
            }
        }
        .yunf2{
            display: flex;
            justify-content: space-between;
            padding-top:px2rem(20) ;
            .wz4{
                font-size:px2rem(26);
                color:#c8c7c7 ;
            }
            .sz4{
                font-size:px2rem(26);
                color:red ;
            }
        }
    }
    .bianh{
        margin-top:px2rem(30) ;
        background-color: #ffffff;
        font-size:px2rem(22);
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left:3% ;
        color: #717171;
        .wz5{
            margin-top:px2rem(-5) ;
        }
    }
    .ann{
        display: flex;
        justify-content: center;
        margin-top: px2rem(50) ;
        padding-bottom:px2rem(50) ;
        .qxiao{
            border:px2rem(2) solid #b0b0b0;
            border-radius:px2rem(50) px2rem(50) px2rem(50) px2rem(50);
            font-size:px2rem(30) ;
            margin-right: px2rem(50);
            width: 28%;
            height: 40%;
        }
        .fkuan{
            border:px2rem(2)  solid red;
            border-radius:px2rem(50) px2rem(50) px2rem(50) px2rem(50);
            font-size:px2rem(30) ;
            color: red;
            width: 28%;
            height: 40%;
        }
    }
    
}