@charset "UTF-8";
@import "../lib/hotcss-master/src/px2rem.scss";
$designWidth:640;
#tiaozhuananniubox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: px2rem(70);
    background: rgb(254, 44, 28);
    p{
        font-size: px2rem(32);
        line-height: px2rem(33);
        display: inline-block;
        font-weight: bold;
    }
    a{
        font-size: px2rem(30);
        line-height: px2rem(33);
        margin-right: px2rem(15);
        margin-left: px2rem(7);
        color: white;
    }
}
body{
    background-color: rgb(245, 245, 245);
}
.container{
    .title{
        text-align: center;
        position: relative;
        z-index: 1;
        background-color: white;
        p{
            font-size: px2rem(38);
            height: px2rem(70);
            line-height: px2rem(70);
            font-weight: bold;
        }
        div{
            font-size: px2rem(35);
            position: absolute;
            top:50%;
            left: px2rem(60);
            transform: translate(-50%,-50%);
        }
    }
    .maxbox{
        padding-left: px2rem(20);
        padding-right: px2rem(20);
        .onebox{
            text-align: center;
            p{
                font-size: px2rem(25);
                line-height: px2rem(70);
                color: #999;
            }
        }
        .twobox{
            background-color: white;
            ul{
                display: flex;
                flex-wrap: wrap;
                .li1{ 
                    width: px2rem(444);
                    padding-left: px2rem(38);   
                    .p1{
                        font-size: px2rem(30);
                        line-height: px2rem(70);
                        color: black;
                        font-weight: bold;
                    }
                    .p2{
                        font-size: px2rem(25);
                        line-height: px2rem(40);
                        color: black;
                    }
                }
                .li2{
                    font-size: px2rem(75);
                    padding-top: px2rem(50);
                    padding-right: px2rem(20);
                    width: px2rem(60);
                    padding-left: px2rem(38); 
                }
                .color1{
                    color: rgb(255,165, 66);
                } 
                .color2{
                    color: rgb(73,190, 254);
                } 
                .color3{
                    color: rgb(255,85, 120);
                } 
                .li3{
                    p{
                        font-size: px2rem(20);
                        line-height: px2rem(50);
                        color: black;
                        padding-left: px2rem(38);  
                        padding-bottom: px2rem(20);
                    }
                }
            }
        }
    }
}