@charset "UTF-8";
@import "../lib/hotcss-master/src/px2rem.scss";
$designWidth:640;
#tiaozhuananniubox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: px2rem(70);
    background: rgb(254, 44, 28);
    p{
        font-size: px2rem(32);
        line-height: px2rem(33);
        display: inline-block;
        font-weight: bold;
    }
    a{
        font-size: px2rem(30);
        line-height: px2rem(33);
        margin-right: px2rem(15);
        margin-left: px2rem(7);
        color: white;
    }
}
.all{
    background-color: #f5f5f5;
    .sm{
        display: flex;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
        background-color: #ffffff;
        .t1{
            width: px2rem(50);
            height: px2rem(50);
            margin-top: 2%;
        }
        .jt{
            width: 70%;
            height: px2rem(40);
            margin-top: 2%;
            font-size:px2rem(24);
            border:px2rem(1) solid #f5f5f5;
            background-color: #f5f5f5;
            color: #d2d2d2;
            border-radius:px2rem(10) px2rem(10) px2rem(10) px2rem(10);
            background-image: url(../image/ss-2.png);
            background-repeat:no-repeat;
            background-position: 10px;
            text-align: center;
        }
        .z1{
            font-size:px2rem(30);
            margin-top: 2%;
        }
    }
    .sp{
        padding-top:px2rem(30) ;
        padding-left: 3%;
        padding-right: 5%;
        
        .huo{
            .t2{
                width:px2rem(26) ;
                height:px2rem(26) ;
            }
            .z2{
                font-size:px2rem(26);
                color: #d2d2d2;
            }
        }
        .b1{
            display: flex;
            justify-content: space-between;
            margin-top:px2rem(20) ;
           .z3{
               background-color: #ffffff;
               border:px2rem(1) solid #ffffff;
                font-size:px2rem(20);
                padding:px2rem(15) px2rem(35);
                color: black;
                border-radius:px2rem(50) px2rem(50) px2rem(50) px2rem(50);
            } 
        }
        .b2{
            display: flex;
            justify-content: space-between;
            margin-top:px2rem(30) ;
           .z3{
               background-color: #ffffff;
               border:px2rem(1) solid #ffffff;
                font-size:px2rem(20);
                padding:px2rem(15) px2rem(35);
                color: black;
                border-radius:px2rem(50) px2rem(50) px2rem(50) px2rem(50);
            } 
        }
        
    }
    .lis{
        margin-top: px2rem(30);
        padding-left: 3%;
        .jl{
            .t3{
                width: px2rem(28);
                height:px2rem(28);
            }
            .z4{
                font-size:px2rem(26);
                color: #d2d2d2;
            }
        }
        .z5{
            font-size:px2rem(24);
            color: black;
            margin-top: px2rem(26);
        }
    }
    .qk{
        padding-left: 40%;
        margin-top:px2rem(30) ;
        .t6{
            width: px2rem(26);
            height:px2rem(26);
        }
        .z6{
            font-size:px2rem(20);
            color: #d2d2d2;
        }
    }
}