@charset "UTF-8";
@import "../lib/hotcss-master/src/px2rem.scss";
$designWidth:640;
#tiaozhuananniubox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: px2rem(70);
    background: rgb(254, 44, 28);
    p{
        font-size: px2rem(32);
        line-height: px2rem(33);
        display: inline-block;
        font-weight: bold;
    }
    a{
        font-size: px2rem(30);
        line-height: px2rem(33);
        margin-right: px2rem(15);
        margin-left: px2rem(7);
        color: white;
    }
}
body{
    background-color: rgb(245, 245, 245);
}
.container{
    .title{
        text-align: center;
        position: relative;
        background-color: white;
        p{
            font-size: px2rem(38);
            height: px2rem(70);
            line-height: px2rem(70);
            font-weight: bold;
        }
        div{
            font-size: px2rem(35);
            position: absolute;
            top:50%;
            left: px2rem(60);
            transform: translate(-50%,-50%);
        }
    }
    .onebox{
        width: 90%;
        margin: 0 auto;
        height: px2rem(200);
        margin-top: px2rem(20);
        padding-bottom: px2rem(40);
        padding-top: px2rem(40);
        text-align: center;
        background-color: white;
        border-radius: px2rem(30);
        .p1{
            font-size: px2rem(40);
            font-weight: bold;
            line-height: px2rem(100);
        }
        .p2{
            font-size: px2rem(60);
            font-weight: bold;
            color: red;
            
        }
    }
    .xuxian{
        width: 83%;
        margin: 0 auto;
        border-bottom: px2rem(1) dashed black;
    }
    .twobox{
        width: 90%;
        margin: 0 auto;
        background-color: white;
        border-radius: px2rem(30);
        li{
            display: flex;
            justify-content: space-between;
            padding-left: px2rem(20);
            padding-right: px2rem(20);
            line-height: px2rem(80);
            p{
                color: #666;
                font-size: px2rem(25);
            }
        }
        .lastli{
            padding-top: px2rem(90);
            padding-bottom: px2rem(30);
            justify-content: center;
            .p1{
                font-size: px2rem(30);
            }
            .p2{
                font-size: px2rem(28);
                color: blue;
            }
        }
    }
}