#tiaozhuananniubox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  background: #fe2c1c; }
  #tiaozhuananniubox p {
    font-size: 0.8rem;
    line-height: 0.825rem;
    display: inline-block;
    font-weight: bold; }
  #tiaozhuananniubox a {
    font-size: 0.75rem;
    line-height: 0.825rem;
    margin-right: 0.375rem;
    margin-left: 0.175rem;
    color: white; }

.all {
  background-color: #f5f5f5; }
  .all .gwcz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #ffffff; }
    .all .gwcz .z1 {
      font-size: 0.875rem;
      line-height: 1.25rem; }
    .all .gwcz .z2 {
      font-size: 0.75rem; }
    .all .gwcz .z3 {
      width: 1.8rem; }
  .all .mjian {
    height: 1.625rem;
    color: #ffd1b5;
    background-color: #fff6f1;
    padding-top: 0.25rem;
    padding-left: 0.75rem; }
    .all .mjian .tt {
      width: 0.8rem;
      height: 0.8rem; }
    .all .mjian .zz {
      font-size: 0.65rem;
      margin-left: 0.25rem; }
  .all .kege3 {
    height: 1rem;
    background-color: #ffffff; }
  .all .ddan {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f6f6f6;
    background-color: #ffffff;
    padding-top: 1rem; }
    .all .ddan .yuan .yyu {
      width: 0.8rem;
      height: 0.8rem;
      padding-top: 120%;
      margin-right: 0.25rem; }
    .all .ddan .yft .yftt {
      width: 3.6rem;
      height: 3.65rem; }
    .all .ddan .ybian {
      width: 65%; }
      .all .ddan .ybian .zt1 {
        font-size: 0.8rem; }
      .all .ddan .ybian .zt2 {
        font-size: 0.5rem; }
      .all .ddan .ybian .zt3 {
        font-size: 0.7rem;
        padding-top: 5%;
        color: red;
        display: flex;
        justify-content: space-between; }
        .all .ddan .ybian .zt3 .jians {
          width: 4.125rem;
          height: 1.25rem; }
  .all .kge {
    height: 2.75rem; }
  .all .jies {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff; }
    .all .jies .jies1 {
      font-size: 0.8rem;
      padding-top: 3%;
      padding-left: 3%; }
      .all .jies .jies1 .yyu {
        width: 0.8rem;
        height: 0.8rem; }
    .all .jies .jies2 {
      font-size: 0.75rem;
      padding-top: 3%; }
      .all .jies .jies2 .qian {
        color: red; }
    .all .jies .jies3 {
      font-size: 0.9rem;
      width: 4.625rem;
      height: 2.125rem;
      line-height: 2.125rem;
      text-align: center;
      background: -webkit-linear-gradient(left, #fe5e19, #fe281c);
      background: -o-linear-gradient(right, #fe5e19, #fe281c);
      background: -moz-linear-gradient(right, #fe5e19, #fe281c);
      background: linear-gradient(to right, #fe5e19, #fe281c); }

.db {
  background: #fcfcfc;
  width: 100%;
  position: fixed;
  bottom: 0rem;
  z-index: 100;
  font-size: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around; }
  .db img {
    width: 1.25rem;
    height: 1.05rem; }
