#tiaozhuananniubox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  background: #fe2c1c; }
  #tiaozhuananniubox p {
    font-size: 0.8rem;
    line-height: 0.825rem;
    display: inline-block;
    font-weight: bold; }
  #tiaozhuananniubox a {
    font-size: 0.75rem;
    line-height: 0.825rem;
    margin-right: 0.375rem;
    margin-left: 0.175rem;
    color: white; }

body {
  background-color: whitesmoke; }

.container .title {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white; }
  .container .title p {
    font-size: 0.95rem;
    height: 1.75rem;
    line-height: 1.75rem;
    font-weight: bold; }
  .container .title div {
    font-size: 0.875rem;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%); }

.container .onebox {
  padding-left: 0.7rem;
  padding-top: 2.4375rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  .container .onebox img {
    display: block;
    width: 4.125rem;
    height: 4.125rem; }
  .container .onebox .p1 {
    font-size: 1.75rem;
    font-weight: bolder;
    line-height: 2rem;
    margin-top: 1.25rem; }
  .container .onebox .p2 {
    font-size: 0.625rem;
    color: #999999;
    line-height: 2rem; }

.container .twobox {
  margin-top: 0.5rem;
  background-color: white;
  overflow: hidden;
  border-top: 0.0375rem solid whitesmoke;
  border-bottom: 0.0375rem solid whitesmoke; }
  .container .twobox .left {
    float: left; }
    .container .twobox .left p {
      font-size: 0.875rem;
      line-height: 2.25rem;
      margin-left: 0.75rem;
      color: black;
      font-weight: 600; }
  .container .twobox .right {
    float: right;
    font-size: 0.875rem;
    margin-top: 0.875rem;
    margin-right: 0.75rem; }

.container .threebox {
  margin-top: 5rem; }
  .container .threebox .li1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.75rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 0.025rem solid #c4baba;
    margin: 0rem auto;
    margin-bottom: 1.5rem; }
    .container .threebox .li1 div {
      font-size: 0.675rem;
      line-height: 1.5rem;
      color: black;
      font-weight: bolder; }
    .container .threebox .li1 p {
      font-size: 0.675rem;
      line-height: 1.5rem;
      margin-left: 0.375rem; }
  .container .threebox .li2 {
    text-align: center; }
    .container .threebox .li2 p {
      font-size: 0.55rem;
      line-height: 2.25rem;
      color: #c4baba; }
